<!--call base.html-->
    {% extends 'base.html' %}
    {% block body %}
   <!-- {{i.id}}{{i.name}}{{i.desc}}{{i.year}}<br>>-->
   <div class="container">
        <div class="row">
            {% for i in movie_list %}
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="{{i.img.url}}" alt="" height="250" width="250">
                    <div class="card-body">
                      <h5 class="card-title">{{i.name}}</h5>
                      <p class="card-text">{{i.desc}}.</p>
                      <a class="btn btn-warning" href="{% url 'movieapp:detail' i.id %}">Click to More</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
   </div>
      
        {% for i in movie_list %}
       <!--<a href="movie/{{i.id}}">{{i.name}}<br>-->
        <!--<img src="{{i.img.url}}" width="200" height="200"><br>
        <a href="">{{i.name}}<br>-->
        {% endfor %}
        {% endblock %}

